<form class="form mat-elevation-z8">
    <h1>Atualizar Técnico</h1>
    <mat-form-field class="full-width">
        <mat-label>Nome</mat-label>
        <input [(ngModel)]="tecnico.nome" [formControl]="nome" name="nome" required maxlength="50" matInput
            placeholder="Ex. Fernando Ngoca">
        <mat-error *ngIf="nome.invalid">{{ errrorValidNome() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>CPF</mat-label>
        <input [(ngModel)]="tecnico.cpf" name="cpf" [formControl]="cpf" maxlength="15" required matInput
            placeholder="Ex. 000.000.000-00">
        <mat-error *ngIf="cpf.invalid">{{ errrorValidCPF() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Telefone</mat-label>
        <input [(ngModel)]="tecnico.telefone" name="telefone" [formControl]="telefone" required maxlength="18" matInput
            placeholder="Ex. (00) 90000-0000">
        <mat-error *ngIf="telefone.invalid">{{ errrorValidTelefone() }}</mat-error>
    </mat-form-field>

    <button (click)="update()" class="mat-elevation-z8"  [disabled]="errrorValidNome() || errrorValidCPF() || errrorValidTelefone() "
        mat-stroked-button color="primary">Atualizar</button>

    <button class="mat-elevation-z8" (click)="cancel()" mat-stroked-button color="accent">Cancelar</button>
</form>